

position: absolute;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Header nav */

position: absolute;
width: 1440px;
height: 72px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* divider */

position: absolute;
width: 1440px;
height: 1px;
left: 0px;
bottom: 0px;

background: rgba(102, 102, 102, 0.25);


/* Frame 434 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 71px;
height: 24px;
left: 32px;
top: 24px;



/* Icons */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

background: #666666;


/* Back */

width: 39px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #666666;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

box-sizing: border-box;

position: absolute;
width: 241px;
height: 56px;
left: 1167px;
top: 8px;

border-radius: 32px;


/* Frame 276 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 189px;
height: 30px;
left: calc(50% - 189px/2 + 0.5px);
top: calc(50% - 30px/2 - 0.5px);



/* Icons */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Sign up */

width: 189px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #111111;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Log in */

position: absolute;
width: 1440px;
height: 953px;
left: 0px;
top: 72px;



/* Frame 439 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 40px;

position: absolute;
width: 988px;
height: 745px;
left: 226px;
top: 104px;



/* Frame 436 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 16px;

width: 118px;
height: 124px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logo */

width: 48px;
height: 48px;

background: #C4C4C4;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Log in */

width: 118px;
height: 60px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 60px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 437 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 988px;
height: 451px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* email Log in */

box-sizing: border-box;

width: 482px;
height: 451px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 398 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 354px;
height: 335px;
left: 64px;
top: 44px;



/* Log in */

width: 68px;
height: 33px;

font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 33px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Email */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 354px;
height: 87px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 243 */

width: 354px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

position: absolute;
width: 113px;
height: 24px;
left: 0px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #666666;



/* Password hide / see */

position: absolute;
visibility: hidden;
width: 73px;
height: 27px;
left: 272.14px;
top: 0px;



/* icon */

position: absolute;
width: 24px;
height: 24px;
right: 57.86px;
top: 3px;



/* Group 1 */

position: absolute;
width: 18.19px;
height: 16px;
left: 2.91px;
top: 4.01px;



/* Vector */

position: absolute;
left: 12.14%;
right: 16.61%;
top: 16.71%;
bottom: 16.64%;

background: rgba(102, 102, 102, 0.8);


/* Vector */

position: absolute;
left: 40.84%;
right: 12.08%;
top: 36.47%;
bottom: 25.06%;

background: rgba(102, 102, 102, 0.8);


/* Hide */

position: absolute;
width: 41px;
height: 27px;
right: 8.86px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: right;

color: rgba(102, 102, 102, 0.8);



/* Text field */

box-sizing: border-box;

width: 354px;
height: 56px;

border: 1px solid rgba(102, 102, 102, 0.35);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Inputs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
visibility: hidden;
width: 56px;
height: 24px;
left: 24px;
top: 15px;



/* Icons */

position: absolute;
visibility: hidden;
width: 24px;
height: 24px;
right: 24px;
top: 16px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* error message */

display: none;
width: 101px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

color: #EE1D52;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 354px;
height: 87px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 243 */

width: 354px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

position: absolute;
width: 77px;
height: 24px;
left: 0px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #666666;



/* Password hide / see */

position: absolute;
width: 73px;
height: 27px;
left: 272.14px;
top: 0px;



/* icon */

position: absolute;
width: 24px;
height: 24px;
right: 57.86px;
top: 3px;



/* Group 1 */

position: absolute;
width: 18.19px;
height: 16px;
left: 2.91px;
top: 4.01px;



/* Vector */

position: absolute;
left: 12.14%;
right: 16.61%;
top: 16.71%;
bottom: 16.64%;

background: rgba(102, 102, 102, 0.8);


/* Vector */

position: absolute;
left: 40.84%;
right: 12.08%;
top: 36.47%;
bottom: 25.06%;

background: rgba(102, 102, 102, 0.8);


/* Hide */

position: absolute;
width: 41px;
height: 27px;
right: 8.86px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: right;

color: rgba(102, 102, 102, 0.8);



/* Text field */

box-sizing: border-box;

width: 354px;
height: 56px;

border: 1px solid rgba(102, 102, 102, 0.35);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Inputs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
visibility: hidden;
width: 56px;
height: 24px;
left: 24px;
top: 15px;



/* Icons */

position: absolute;
visibility: hidden;
width: 24px;
height: 24px;
right: 24px;
top: 16px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* error message */

display: none;
width: 101px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

color: #EE1D52;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

width: 354px;
height: 56px;

background: #111111;
opacity: 0.25;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 276 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 65px;
height: 33px;
left: calc(50% - 65px/2);
top: calc(50% - 33px/2 - 0.5px);



/* Icons */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Sign up */

width: 65px;
height: 33px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Divider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 23px;

width: 451px;
height: 24px;

transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Divider */

width: 191.5px;
height: 2px;

background: rgba(102, 102, 102, 0.25);
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* OR */

width: 24px;
height: 22px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Divider */

width: 191.5px;
height: 2px;

background: rgba(102, 102, 102, 0.25);
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* log in with other... */

box-sizing: border-box;

width: 482px;
height: 451px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* divider */

position: absolute;
visibility: hidden;
width: 1px;
left: 481px;
top: 0px;
bottom: 0px;

background: rgba(102, 102, 102, 0.25);


/* Frame 397 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 354px;
height: 216px;
left: 64px;
top: 118px;



/* Social media signup/login */

box-sizing: border-box;

width: 354px;
height: 56px;

background: #FFFFFF;
border: 1px solid #333333;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 259px;
height: 30px;
left: calc(50% - 259px/2 + 0.5px);
top: calc(50% - 30px/2 - 0.5px);



/* Social media logo */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* vector */

position: absolute;
left: 50.9%;
right: 6.25%;
top: 42.03%;
bottom: 16.85%;

background: #4285F4;


/* vector */

position: absolute;
left: 11.01%;
right: 19.55%;
top: 58.65%;
bottom: 6.25%;

background: #34A853;


/* vector */

position: absolute;
left: 6.26%;
right: 74.5%;
top: 30.15%;
bottom: 30.36%;

background: #FBBC05;


/* vector */

position: absolute;
left: 11.01%;
right: 19.25%;
top: 6.25%;
bottom: 58.65%;

background: #EB4335;


/* Continue with Google */

width: 219px;
height: 30px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Social media signup/login */

box-sizing: border-box;

width: 354px;
height: 56px;

background: #FFFFFF;
border: 1px solid #333333;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 277 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 290px;
height: 32px;
left: calc(50% - 290px/2);
top: calc(50% - 32px/2 + 0.5px);



/* Social media logo */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bg */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;

background: #0C82EE;


/* f */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 25%;
bottom: 6.25%;

background: #FFFFFF;


/* Continue with Facebook */

width: 242px;
height: 30px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

box-sizing: border-box;

width: 354px;
height: 56px;

border: 1px solid #111111;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 276 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 222px;
height: 30px;
left: calc(50% - 222px/2);
top: calc(50% - 30px/2 - 0.5px);



/* Icons */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

background: #333333;


/* Sign up */

width: 182px;
height: 30px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 438 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

width: 342px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Can’t log in? */

width: 101px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: right;
text-decoration-line: underline;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* link text */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 342px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* By creating an account, you agree to the Terms of use and Privacy Policy. */

width: 282px;
height: 42px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;

color: #666666;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
